<section class="container">
  <p class="alert"><%= devise_error_messages! %></p>
  <div id='title-div' class="col-sm-offset-4 col-sm-4">
    
  <div class="row" >
      <a href="#loginModal" class="col-xs-offset-3 col-xs-3">
        <button type="button" data-toggle="modal" data-target="#loginModal"  id="login" class='btn btn-default'>Login</button>
      </a>
      <a href="#singupModal" class="col-xs-3" >
        <button type="button" data-toggle="modal" data-target="#signupModal" id="signup" class='btn btn-default'>Signup</button>
      </a>
    </div>
  </div>
</section>


<!-- LOGIN FORM -->


<!-- SIGNUP FORM -->


