<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<!-- Expanding cards? -->
<!-- sign up -->
FB oauth button
<div class="row">
<form action="/user" method="POST">
<div class="input-field col s6">
<input type="text" name="user[email]" placeholder="Email">
</div>
<div class="input-field col s6">
<input type="password" name="user[password]" placeholder="Password">
</div>
<div class="input-field col s6">
<input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
</div>
</div>



<input type="submit"><input>

</form>

<!-- sign in  -->
Sign in form 




