<%= render 'shared/navtop'  %>
 <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://i.imgur.com/iVZBtwH.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>FOMO?</h3>
          <h5 class="light grey-text text-lighten-3">Never miss out again.</h5>
        </div>
      </li>
      <li>
        <img src="http://imgur.com/TJt4Stc.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Sit Back and Relax</h3>
          <h5 class="light grey-text text-lighten-3">We'll notify you when your favorite comedians come to town.</h5>
        </div>
      </li>
      <li>
        <img src="http://i.imgur.com/gFUwiFW.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Sign Up</h3>
          <h5 class="light grey-text text-lighten-3">Customize your LOList and follow your favorite comedians.</h5>
        </div>
      </li>
    </ul>
  </div>

<!-- sign up -->
<div class="container">
    <div class="center-align">
        <a class="btn-social btn-large btn-icon btn-facebook" href = '/users/auth/facebook/'>
        <i class="fa fa-facebook left"></i>
        Connect with Facebook
        </a>
    </div>
    <div class="divider"></div>
</div>
<div class="container grey lighten-4">
<div class="col s4">
    <p class="center-align">New user?</p><h5 class = "center-align">Sign Up</h5>
    <form action="/users" method="POST">
        <div class="input-field col s12">
            <input type = "email" class = "validate" type="text" name="user[email]" placeholder="Email"></input>
        </div>
        <div class="input-field col s12">
            <input type="password" class = "validate" name="user[password]" placeholder="Min 6 character password"></input>
        </div>
        <div class="input-field col s12">
            <input type="password" class = "validate" name="user[password_confirmation]" placeholder="Confirm Password"></input>
        </div>
        <div class="input-field col s12">
            <input type="text" name="user[postal_code]" placeholder="Zipcode to filter results!"></input>
        </div>
        <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
        <button class="center-block waves-effect waves-light yellow black-text darken-2 btn" type="submit" name="action">Get started!</button>
    </form>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal sign-in">
    <div class="modal-content">
        <h5 class="center-align grey-text text-darken-4">Sign in to your LOList</h5>
        <div class="divider"></div><br>
        <div class="center-align">
            <a class="btn-social btn-large btn-icon btn-facebook" href = '/users/auth/facebook/'>
            <i class="fa fa-facebook left"></i>
            Connect with Facebook
            </a>
        </div>

        <div class="center-align"><div class="divider-or center-block">Or</div></div>

        <form action="/users/sign_in" method="POST">
            <!-- <p class="center-align">Existing user?</p><h5 class='center-align'>Login</h5> -->
            <div class="input-field col s12 grey-text text-darken-4">
                <input type="text" name="user[email]" placeholder="Email"></input>
            </div>
            <div class="input-field col s12 grey-text text-darken-4">
                <input type="password" name="user[password]" placeholder="Password"></input>
            </div>
            <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
            <br>

                <div class="center-align">
                <button class="center-block waves-effect waves-light yellow black-text darken-2 btn" type="submit" name="action">Sign in with Email</button>

            </div>
        </form>
    </div>
</div>