<h1>Comedian#index</h1>
<p>hello</p>
<p>Find me in app/views/comedian/index.html.erb</p>
<div id="fb-root"></div>
<button name="my_full_name" onclick="ShowMyName()" value="My Name" />
<script language="javascript" type="text/javascript">
function ShowMyName() {
        FB.api("/me",
                function (response) {
                    alert('Name is ' + response.name);
                });
         
    }
</script>
<% @comedians.each do |comedian| %>
<h1> <%= comedian.name %> </h1>
<img class="comedian-image" src=<% comedian.image %>>
<div
  class="fb-like"
  data-share="true"
  data-width="250"
  data-show-faces="true">
</div>
<% end %>

