<h1>Comedian#index</h1>
<p>hello</p>
<p>Find me in app/views/comedian/index.html.erb</p>
<% @comedians.each do |comedian| %>
<h1> <%= comedian.name %> </h1>
<img class="comedian-image" src=<% comedian.image %>>

<% end %>

