<section class="container">
    <p class="alert"><%= devise_error_messages! %></p>
    <div id='title-div' class="col-sm-offset-4 col-sm-4">
        <div class="row" >
            <a href="#loginModal" class="yellow darken-2 btn modal-trigger valign black-text">
            Sign in
            </a>
            <a href="#signupModal" class="yellow darken-2 btn modal-trigger valign black-text">
            Sign up
            </a>
        </div>
    </div>
</section>
<!-- LOGIN FORM -->
<div id="loginModal" class="modal sign-in">
    <div class="modal-content">
        <h5 class="center-align grey-text text-darken-4">Sign in to your LOList</h5>
        <div class="divider"></div><br>
        <div class="center-align">
            <a class="btn-social btn-large btn-icon btn-facebook" href = '/users/auth/facebook/'>
            <i class="fa fa-facebook left"></i>
            Connect with Facebook
            </a>
        </div>
        <div class="center-align"><div class="divider-or center-block">Or</div></div>
        <form action="/users/sign_in" method="POST">
            <!-- <p class="center-align">Existing user?</p><h5 class='center-align'>Login</h5> -->
            <div class="input-field col s12 grey-text text-darken-4">
                <input type="text" name="user[email]" placeholder="Email"></input>
            </div>
            <div class="input-field col s12 grey-text text-darken-4">
                <input type="password" name="user[password]" placeholder="Password"></input>
            </div>
            <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
            <br>
            <div class="center-align">
                <button class="center-block waves-effect waves-light yellow black-text darken-2 btn" type="submit" name="action">
                Sign in with Email
                </button>
            </div>
        </form>
    </div>
</div>
<!-- SIGNUP FORM -->
<div id="signupModal" class="modal sign-in">
    <div class="modal-content modal-signup">
        <h5 class="center-align grey-text text-darken-4">Sign up for LOList</h5>
        <div class="divider"></div><br>
        <div class="center-align">
            <a class="btn-social btn-large btn-icon btn-facebook" href = '/users/auth/facebook/'>
            <i class="fa fa-facebook left"></i>
            Connect with Facebook
            </a>
        </div>
        <div class="center-align"><div class="divider-or center-block">Or</div></div>
        <form action="/users" method="POST">
            <div class="input-field col s12">
                <input type = "email" class = "validate" type="text" name="user[email]" placeholder="Email"></input>
            </div>
            <div class="input-field col s12">
                <input type="password" class = "validate" name="user[password]" placeholder="Min 6 character password"></input>
            </div>
            <div class="input-field col s12">
                <input type="password" class = "validate" name="user[password_confirmation]" placeholder="Confirm Password"></input>
            </div>
            <div class="input-field col s12">
                <input type="text" name="user[postal_code]" placeholder="Zipcode to filter results!"></input>
            </div>
            <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
            <button class="center-block waves-effect waves-light yellow black-text darken-2 btn" type="submit" name="action">Get started!</button>
        </form>
    </div>
</div>