<div class="container">
<div class="container-fluid center-align">

<h4>Select at least three comedians to get started.</h4>
<p>By selecting a comedian, you will begin to receive email notifications ONLY associated with the
	artists you are following.</p>
<br>
</div>
<div class="divider"></div>
<br>
	<div class="row">
	<% @comedians.each do |comedian| %>
	<% vidTag = comedian.name + ".mp4"  %>
	<div class='col l4 m6'>
		<div id='comedian-<%= comedian.id %>' class='card small z-depth-2 follow'>
			<div class='card-image thumbnail hvr-fade' style="background:  url(<%=comedian.image%>) no-repeat center center; background-size: cover" >

				<span class='card-title grey-text text-darken-4'> <%= comedian.name %> </span>
					<% if @user.comedians.include?(comedian) %>
						<span class='following'><i class="fav fa fa-star right"></i></span>
			    <% else  %>
			      <span><i class="fav fa fa-star-o right"></i></span>
			    <% end  %>
		  	</div>
		</div>
	</div>
	<% end %>
	</div>
	
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <%= link_to "Submit", user_path, class: "waves-effect waves-light yellow black-text darken-2 btn" %>
  	</div>
</div>
