.fa-youtube-play {
	margin: -33px 8px 0 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favImg {
        padding: 10px;
}

i.index-follow {
		color: black;
        flex: 50%;
    text-align: right;
    
}

.index-following > i {
        content: "\f005";
        color: #FABF3F;
        
}

.hover { 
	background-color: white;
	height: 260px;
	opacity: 0.0
}

i.fav {
	border-radius:100%;
	margin: 15px 6px 0 0;
	z-index: 100;

}

i.follow {
        color: black;
        flex: 50%;
    text-align: right;
    background: rgba(255,255,255,.6);
}


.following > i {
        color: #FABF3F;
}

.card.thumbnail{
	height: 200px;
	width: 200px;
	margin: 10px 0 10px 10px;
	}

.card.small{
	height: 260px;
	width: 260px;

	.card-image {
		height: 260px;
		background-size:100%;


		.interaction-buttons {
			margin-top:0px;
			padding: 0 5px;
			background: rgba(255, 255, 255, 0);
		}
		
		.card-title {
			position:absolute;
			width:100%;
			background: rgba(255,255,255,.6);
			padding: 0 0 0 38px;
		}

		.card-title.teal-text.text-darken-2.bold {
			margin-top: 1px;
			
		}	
	}
}

.fa.fa-youtube-play {
	color: #D12122 !important;
	cursor: pointer;
}

.card.card-reveal {
	background-color: #F9FCFC;
}

div.card-action {
  height:75px;

		.up-arrow {
		  height: 30px;
		  margin: -22px;
			opacity: 60%;

		}
}	

.comedian-index {
	width: 240px;
	margin: auto;
}

.comedian-name {
	margin: -100px 0 0 229px;
}


