.a {
	border-color: red thin solid;
}
.b {
	border-color: black thin solid;
}

.c {
	border-color: orange thin solid;
}

.d {
	border-color: green thin solid;
}

.e {
	border-color: blue thin solid;
}

.fa-youtube-play {
	margin: -33px 8px 0 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favImg {
        padding: 10px;
}

.index-follow {

}


.hover { 
	background-color: white;
	height: 260px;
	opacity: 0.0
}

i.fav {
	border-radius:100%;
	margin: 15px 6px 0 0;
	z-index: 100;
}

i.follow {
	color: black;
	 flex: 50%;
    text-align: right;
}

.following > i {
	color: goldenrod;
}

.card.small{
	height: 260px;

	.card-image {
		height: 260px;
		background-size:100%;
		cursor: pointer;

		.interaction-buttons {
			margin-top:0px;
			padding: 0 5px;
			background: rgba(255, 255, 255, 0);
		}
		
		.card-title {
			position:absolute;
			width:100%;
			background: rgba(255,255,255,.6);
			padding: 0 0 0 38px;
		}

		.card-title.teal-text.text-darken-2.bold {
			margin-top: 1px;
			
		}	
	}
}

.fa.fa-youtube-play {
	color: #D12122 !important;
}

.card.card-reveal {
	background-color: #F9FCFC;
}

div.card-action {
  height:75px;

    .fa.fa-youtube-play.fa-2x {
    	cursor:pointer;
    }

		.up-arrow {
		  height: 30px;
		  margin: -22px;
			opacity: 60%;

				#chevron-up {
					height: 80%;
					width:10%;
					margin-left: 50px;
		  		margin-top: 9px;
		  		cursor:pointer;
				}
		}
}	

.comedian-index {
	width: 240px;
	margin: auto;
}

.comedian-name {
	margin: -100px 0 0 229px;
}


