.card.small{
	height: 260px;
		
	.card-image {
		height: 260px;
		background-size:100%;

		.interaction-buttons {
			margin-top: 225px;
			padding: 0 5px;
		}
		
		.card-title {
			position:absolute;
			margin: 100px;
		}
		.card-title.teal-text.text-darken-2.bold {
			margin-top: 1px;
			
		}	
	}
}


.card.card-reveal {
	background-color: #F9FCFC
}

div.card-action {
  height:75px;

    .fa.fa-youtube-play.fa-2x {
    	cursor:pointer;
    }

		.up-arrow {
		  height: 30px;
		  margin: -22px;
			opacity: 60%;

				#chevron-up {
					height: 80%;
					width:10%;
					margin-left: 50px;
		  		margin-top: 9px;
		  		cursor:pointer;
				}
		}
}	

